<%= form_for @order, url: '/cart', method: :put do |f| %>
  <fieldset id="line_items">
    <legend>Items on your cart</legend>

    <ol id="order">
      <%= f.fields_for :line_items do |item_form, li = item_form.object| %>
      <li rel="<%= li.id %>">
        <%= item_form.hidden_field :id %>
        <%= link_to product_path(li.product), class: 'product' do %>
          <h2><%= li.product.name %></h2>
          <%= image_tag li.product.image.url(:thumb) %>
        <% end %>

        <%= item_form.select :quantity, 0..9, {}, { class: 'quantity' } %>
        <p class="sub_total">
          Subtotal: <span class="price">$ <%= li.total %></span>
        </p>
      </li>
      <% end %>
    </ol>
  </fieldset>

  <fieldset id="order_summary">
    Total: <span id="order_total">$ <%= @order.total %></span>
  </fieldset>

  <fieldset id="actions">
    <%= f.submit 'Update' %>
  </fieldset>
<% end %>

<%= form_tag '/cart', method: :delete do %>
  <fieldset id="actions">
    <%= submit_tag 'Empty your cart', confirm: 'Are you sure?' %>
  </fieldset>
<% end %>
