<%= form_for [:admin, @product], html: { multipart: true } do |f| %>
  <% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
      <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset id="general_information">
    <legend>Basic Product Information</legend>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :price %>
    <%= f.number_field :price %>

    <%= f.label :description %>
    <%= f.text_area :description, :rows => 3 %>
  </fieldset>

  <fieldset id="general_information">
    <legend>Product Image</legend>

    <%= image_tag @product.image.url if @product.image %>

    <%= f.label :image %>
    <%= f.file_field :image %>
  </fieldset>

  <fieldset id="actions">
    <%= f.submit %>
  </fieldset>
<% end %>
