<%= action_title 'Products' %>

<ol id="products">
  <% @products.each do |product| %>
  <li>
    <%= link_to product do %>
      <%= image_tag product.image %>

      <h2><%= product.name %></h2>
      <span class="price">$ <%= product.price %></span>
    <% end %>
  </li>
  <% end %>
</ol>
