<!DOCTYPE html>
<html>
<head>
  <title>BcTest - <%= content_for :title %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to 'Bc Test', '/' %></h1>

    <section id="account">
      <% if logged_in? %>
        <%= link_to current_user.email, edit_user_path %>
        <%= form_tag session_path, method: :delete do %>
          <fieldset id="actions">
            <%= submit_tag 'Logout' %>
          </fieldset>
        <% end %>
      <% else %>
        <%= link_to 'Signup',   new_user_path %>
        <%= link_to 'Login', new_session_path %>
      <% end %>

      <%# TODO: replace logic on layout view with helpers %>
      <% if session[:order_id] %>
        <%= link_to cart_path do %>
        Cart (<%= Order.find(session[:order_id]).line_items.count %>)
        <% end %>
      <% end %>
    </section>

    <% if logged_in? and current_user.is_admin? %>
      <nav id="admin">
        <h1>Admin</h1>

        <ul>
          <li><%= link_to 'Products', admin_products_path %></li>
          <li><%= link_to 'Users',    admin_users_path %></li>
        </ul>
      </nav>
    <% end %>
  </header>

  <section id="main">
    <% if flash[:error] || flash[:notice] %>
    <div id="flash" class="<%= flash[:error] ? 'error' : 'notice' %>">
      <%= flash[:error] || flash[:notice] %>
    </div>
    <% end %>

    <%= yield %>
  </section>
</body>
</html>
