<!DOCTYPE html>
<html>
<head>
  <title>BcTest - <%= content_for :title %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to 'Bc Test', '/' %></h1>

  <% if flash[:error] %>
  <div id="flash" class="error">
    <%= flash[:error] %>
  </div>
  <% end %>

  <div id="account">
    <% if logged_in? %>
      <%= link_to current_user.email, edit_user_path %>
      <%= form_tag session_path, method: :delete do %>
        <fieldset id="actions">
          <%= submit_tag 'Logout' %>
        </fieldset>
      <% end %>
    <% else %>
      <%= link_to 'Login', new_session_path %>
      <%= link_to 'Signup',   new_user_path %>
    <% end %>

    <%= link_to 'Cart', cart_path %>
  </div>

  <% if logged_in? and current_user.is_admin? %>
  <nav id="admin">
    <h1>Admin</h1>
    <ul>
      <%= link_to 'Products', admin_products_path %>
      <%= link_to 'Users',    admin_users_path %>
    </ul>
  </nav>
  <% end %>

  <%= yield %>

</body>
</html>
